h1{
	color: white;
}

.Blank{
	background-color: white;
}

body{
	display: grid;
	grid-template-columns: 200px 150px 200px 100px 400px;
	grid-template-rows: 200px 200px 200px 100px 150px 150px 150px 100px;
	margin-left: 400px;
}

.Box1{
	border-top: 5px solid black; 
	border-bottom: 5px solid black;
	grid-column: 2/3;
	grid-row: 1/8;
}
.Box2{
	border-bottom: 5px solid black;
	height: 145px;
}
.Box3{
	border-right: 5px solid black;
	width: 595px ;
}

.Classroom {
  border: 5px solid black;
  font-weight: normal;
  text-align: center;
  font-size: 1em;
  background-color: #FF9800;
}
.C01{
  grid-column: 1/2;
  grid-row: 1/2;
}
.C02{
	grid-column: 1/2;
	grid-row: 2/3;
}
.C03{
	grid-column: 1/2;
	grid-row: 3/4;
}
.C04{
	grid-column: 3/4;
	grid-row: 1/2;
}
.C05{
	grid-column: 3/4;
	grid-row: 2/3;
}

.Stairs{
  border: 5px solid black;
  font-weight: normal;
  text-align: center;
  font-size: 1em;
  background-color: red;
}

.S01{
	grid-column: 1/2;
	grid-row: 4/5;
}
.S02{
	width: 90px;
	height: 180px ; 
	grid-row: 8/9 ;
	margin-left: 450px;
	margin-top: -75px ;

}
.StaffRoom{
  border: 5px solid black;
  font-weight: normal;
  text-align: center;
  font-size: 1em;
  background-color:  #03a9f4;
	grid-column: 1/2;
	grid-row: 6/8;
}

.Lab{
  border: 5px solid black;
  font-weight: normal;
  text-align: center;
  font-size: 1em;
  background-color:  #03a9f4;
  grid-column: 3/4;
  grid-row: 3/5;
}

.OpenSpace{
  border: 5px solid black;
  font-weight: normal;
  text-align: center;
  font-size: 2em;
  background-color: #00ff00c9;
	grid-column: 3/5;
	grid-row: 5/7;
}

.Washroom{
  border: 5px solid black;
  font-weight: normal;
  text-align: center;
  font-size: 1em;
  background-color: brown;
  grid-column: 1/2;
  grid-row: 5/6;
}

.Conference{
  border: 5px solid black;
  font-weight: normal;
  text-align: center;
  font-size: 1em;
  background-color: #03a9f4;
  grid-column: 5/6;
  grid-row: 5/7;
}


#nested1{
       display: grid;
       grid-column: 3/4 ;
       grid-row: 7/8 ;
       grid-template-columns:100px 100px ;
       grid-template-rows: 75px 75px ;
}

.Examination{
	border: 5px solid black;
  font-weight: normal;
  text-align: center;
  font-size: 1em;
  background-color: #03a9f4;
  width: 200px ;
  height: 180px ; 
 grid-row: 8/9 ;
	margin-left: 350px ;
	margin-top: -75px;
}

.Academic{
	border: 5px solid black;
  font-weight: normal;
  text-align: center;
  font-size: 1em;
  background-color: #03a9f4;
  width: 290px ;
  height: 180px ; 
 grid-row: 8/9 ;
	margin-left: 400px ;
	margin-top: -75px ;
}












