h1{
	color: white;
}

.Blank{
	background-color: white;
}

header{
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  text-decoration: underline;
  margin: 10px;
}

#map{
	display: grid;
	grid-template-columns: 126px 88px 126px 63px 126px 126px;
	grid-template-rows: 110px 110px 110px 60px 100px 100px 100px 50px;
	margin: 200px;
  margin-top: 20px;
}

.Box1{
	border-top: 5px solid black; 
	border-bottom: 5px solid black;
	grid-column: 2/3;
	grid-row: 1/8;
}
.Box2{
	border-bottom: 5px solid black;
	height: 95px;
}
.Box3{
	border-right: 5px solid black;
	width: 373px ;
}

.Classroom {
  border: 5px solid black;
  font-weight: normal;
  text-align: center;
  font-size: 0.7em;
  background-color: #FF9800;
}
.C01{
  grid-column: 1/2;
  grid-row: 1/2;
}
.C02{
	grid-column: 1/2;
	grid-row: 2/3;
}
.C03{
	grid-column: 1/2;
	grid-row: 3/4;
}
.C04{
	grid-column: 3/4;
	grid-row: 1/2;
}
.C05{
	grid-column: 3/4;
	grid-row: 2/3;
}
.C06{
  grid-column: 3/4;
  grid-row: 3/5;
}

.Stairs{
  border: 5px solid black;
  font-weight: normal;
  text-align: center;
  font-size: 0.7em;
  background-color: red;
}

.S01{
	grid-column: 1/2;
	grid-row: 4/5;
}
.S02{
	  width: 58px;
    height: 100px;
    grid-row: 8/9;
    margin-left: 275px;
    margin-top: -60px;

}

.StaffRoom{
  border: 5px solid black;
  font-weight: normal;
  text-align: center;
  font-size: 0.7em;
  background-color:  #03a9f4;
	grid-column: 1/2;
	grid-row: 6/8;
}

.OpenSpace{
  border: 5px solid black;
  font-weight: normal;
  text-align: center;
  font-size: 1em;
  background-color: #00ff00c9;
	grid-column: 3/5;
	grid-row: 5/7;
}

.Washroom{
  border: 5px solid black;
  font-weight: normal;
  text-align: center;
  font-size: 0.7em;
  background-color: brown;
  grid-column: 1/2;
  grid-row: 5/6;
}

.CTTCRoom{
  border: 5px solid black;
  font-weight: normal;
  text-align: center;
  font-size: 0.7em;
  background-color: #03a9f4;
  grid-column: 5/6;
  grid-row: 5/7;
}

.Spectrum{
  border: 5px solid black;
  font-weight: normal;
  text-align: center;
  font-size: 0.7em;
  background-color: #03a9f4;
  grid-column: 6/7;
  grid-row: 5/7;
}


#nested1{
       display: grid;
       grid-column: 3/4 ;
       grid-row: 7/8 ;
       grid-template-columns: 63px 63px ;
       grid-template-rows: 50px 50px ;
}

.MeetingRoom{
	  border: 5px solid black;
    font-weight: normal;
    text-align: center;
    font-size: 0.7em;
    background-color: #03a9f4;
    width: 126px;
    height: 100px;
    grid-row: 8/9;
    margin-left: 217px;
    margin-top: -60px;
}

.Lab{
	  border: 5px solid black;
    font-weight: normal;
    text-align: center;
    font-size: 0.7em;
    background-color: #03a9f4;
    width: 166px;
    height: 100px;
    grid-row: 8/9;
    margin-left: 265px;
    margin-top: -60px;
}

